.btn {
    position: relative;
    
    &::before, &::after {
        content: "";
        position: absolute;
        left: 0;
        height: 3px;
        width: 100%;
    }
    &:before {
        top: 0px;
        background-color: #c3a774;
    }
    &:after {
        bottom: 0px;
        background-color: #8f6f30;

    }

    &__body {
        padding: 0px 0px;
        min-height: 50px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::before, &::after {
            content: '';
            position: absolute;
            top: 0;
            height: 100%;
            width: 3px;
            background-image: linear-gradient(to top, #8f6f30, #c3a774);
        }
        &::before {
            left: 0;
        }
        &::after {
            right: 0;
        }

        span {
            color: #fff;
            text-transform: uppercase;
            font-family: "PFD";
            letter-spacing: 2px;
            display: block;
            padding: 0 50px;
            &:after { /*===========   делаем градиент фона внутри кнопки    */
                content: '';
                height: 50%;
                width: 100%;
                top: 0;
                left: 0;
                position: absolute;
                opacity: 0.06;
                transition: all 0.5s ease 0s;
                background-image: linear-gradient(to top, #bb9c66 0%, rgba(187, 156, 102, 0) 100%);

            }
            &:hover::after {
                height: 100%;
                opacity: 0.3;
             }
        }
        

    }
    

}
